 #titulo-home {
     text-align: right;
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #descricao {
     text-align: right;
     font-family: 'Josefin Sans';
     font-size: 25px;
 }
 
 #titulo-apresentacao {
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #descricao-apresentacao {
     font-family: 'Josefin Sans';
     font-size: 20px;
 }
 
 p {
     font-family: 'Josefin Sans';
     font-size: 20px;
 }
 
 #servicos {
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #contato {
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #home {
     background: url("./imagens/gato-home.jpg") no-repeat center center;
     background-size: cover;
     height: 500px;
     position: relative;
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #contato {
     background: url("./imagens/cachorros.jpg") no-repeat center center;
     background-size: cover;
     height: 600px;
     position: relative;
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #sobre {
     background: url("./imagens/cachorro.jpg") no-repeat center center;
     background-size: cover;
     height: 450px;
     position: relative;
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 p {
     font-family: 'Josefin Sans';
     font-size: 40px;
 }
 
 #servicos {
     background: url("./imagens/mao-e-pata.jpg") no-repeat center center;
     text-align: center;
     background-size: cover;
     height: 300px;
     position: relative;
     font: 4em;
     font-family: 'Berkshire Swash', cursive;
 }
 
 #rodape {
     font-family: 'Josefin Sans';
     font-size: 20px;
 }