.body {
    font-size: 16px;
    background-color: #615F73;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 1px solid #888484;
    margin-top: 1px;
    width: 100%;
    padding-left: 11em;
    text-decoration: #000000;
}

.nome {
    list-style-type: none;
    position: absolute;
    top: 0.5em 0;
    left: 1em;
    width: em;
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 29px;
}


/* titulos principal de cada página*/

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    align-items: center;
}

.nome-site {
    margin-top: 5px;
    font-size: 20px;
    background-color: #E9ECEF;
    padding: 25px;
    color: black;
    text-align: center
}

.header {
    width: 100%;
}

.menu {
    background-color: #C3C8D9;
    text-align: center;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: #000000;
    padding: 30px 10px;
}

.main {
    padding: 50px 0;
}

.paragrafo {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    color: black;
    align-items: center;
}

.contato {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    text-align: center;
}

.listaContatos {
    list-style-type: none;
    margin: 5;
    top: 0em;
    padding: 10px;
}

.lista-redes-sociais {
    list-style-type: none;
    margin: 5px;
    top: 0em;
    padding: 10px;
}

a:link {
    text-decoration: none;
}


/*imagens */

.cacto {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6em;
    left: 1em;
    width: 9em
}

.pilao {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15em;
    left: 1em;
    width: 9em
}

.formulario {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    color: black;
    align-items: center;
}

.textoMensagem {
    text-align: center;
}

.nome,
.email,
.mensagem,
.enviar,
.links {
    text-align: center;
    margin-top: 15px;
}

.conhecimentos {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    text-align: center;
}

.listaConhecimentos {
    list-style-type: none;
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
}

.certificacao {
    list-style-type: none;
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-color: #C3C8D9;
    width: calc((100% / 2) - 2rem);
}

#foto {
    width: 100%;
    height: auto !important;
}

.assinatura {
    margin-top: 5px;
    font-family: sans-serif;
    background-color: #E9ECEF;
    padding: 50px;
    color: rgb(5, 0, 0);
    text-align: center;
}