* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #615F73;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

ul.navbar {
    padding: 0;
    margin: 0;
}

ul.navbar li {
    background: #E9ECEF;
    margin: 0.5em 0;
    padding: 0.5em;
}

ul.navbar a {
    text-decoration: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: rgb(70, 41, 233);
}


/* titulos principal de cada página*/

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    align-items: center;
}

.menu {
    max-width: 1400px;
    margin-top: 5px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nome-site {
    margin-top: 5px;
    font-size: 20px;
    background-color: #E9ECEF;
    padding: 25px;
    color: black;
    text-align: center
}

.header {
    width: 100%;
}

.menu {
    background-color: #C3C8D9;
    text-align: center;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: #000000;
    padding: 30px 10px;
}

.main {
    padding: 50px 0;
}

.paragrafo {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    color: black;
    align-items: center;
}

.contato {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    text-align: center;
}

.listaContatos {
    list-style-type: none;
    margin: 5;
    top: 0em;
    padding: 10px;
}

.lista-redes-sociais {
    list-style-type: none;
    margin: 5px;
    top: 0em;
    padding: 10px;
}

a:link {
    text-decoration: none;
}


/*imagens */

.cacto {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6em;
    left: 1em;
    width: 9em
}

.pilao {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15em;
    left: 1em;
    width: 9em
}

.formulario {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    color: black;
    align-items: center;
}

.textoMensagem {
    text-align: center;
}

.nome,
.email,
.mensagem,
.enviar,
.links {
    text-align: center;
    margin-top: 15px;
}

.conhecimentos {
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    text-align: center;
}

.listaConhecimentos {
    list-style-type: none;
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
}

.certificacao {
    list-style-type: none;
    margin-top: 5px;
    background-color: #E9ECEF;
    padding: 25px;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-color: #C3C8D9;
    width: calc((100% / 2) - 2rem);
}

#foto {
    width: 100%;
    height: auto !important;
}

.assinatura {
    margin-top: 5px;
    font-family: sans-serif;
    background-color: #E9ECEF;
    padding: 50px;
    color: rgb(5, 0, 0);
    text-align: center;
}