    body {
        background-color: #6c757d;
        padding-left: 11em;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    /* menu */
    
    ul.navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 2em;
        left: 1em;
        width: 9em;
    }
    
    ul.navbar li {
        background: #E9ECEF;
        margin: 0.5em 0;
        padding: 0.5em;
        border-right: 1em solid rgb(0, 0, 0);
    }
    
    ul.navbar a {
        text-decoration: #000000;
    }
    
    a:visited {
        color: #000000;
    }
    
    a:hover {
        text-decoration: underline;
        color: rgb(71, 13, 231)
    }
    /* titulos principal de cada página*/
    
    h1 {
        font-family: Georgia, "Times New Roman", Times, serif;
        align-items: center;
    }
    
    .container {
        max-width: 1400px;
        margin-top: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .nome-site {
        margin-top: 5px;
        font-size: 20px;
        background-color: #E9ECEF;
        padding: 25px;
        color: black;
        text-align: center
    }
    
    .paragrafo {
        margin-top: 5px;
        background-color: #E9ECEF;
        padding: 25px;
        color: black;
        align-items: center;
    }
    
    .contato,
    .redesSociais {
        margin-top: 5px;
        background-color: #E9ECEF;
        padding: 25px;
        text-align: center;
    }
    
    .listaContatos {
        list-style-type: none;
        margin: 5;
        top: 0em;
        padding: 10px;
    }
    
    .lista-redes-sociais {
        list-style-type: none;
        margin: 5px;
        top: 0em;
        padding: 10px;
    }
    
    a:link {
        text-decoration: none;
    }
    /*imagens */
    
    .cacto {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 15em;
        left: 1em;
        width: 9em
    }
    
    .pilao {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 24em;
        left: 1em;
        width: 9em
    }
    
    .formulario {
        margin-top: 5px;
        background-color: #E9ECEF;
        padding: 25px;
        color: black;
        align-items: center;
    }
    
    .textoMensagem {
        text-align: center;
    }
    
    .nome,
    .email,
    .mensagem,
    .enviar {
        text-align: center;
        margin-top: 15px;
    }
    /*  .enviar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        background: #069cc2;
        border-radius: 6px;
        padding: 15px;
        cursor: pointer;
        color: #fff;
        border: none;
        font-size: 16px;
    } */
    
    .assinatura {
        margin-top: 5px;
        font-family: sans-serif;
        background-color: #E9ECEF;
        padding: 150px;
        color: rgb(5, 0, 0);
        text-align: center;
    }
    
    .conhecimentos {
        margin-top: 5px;
        background-color: #E9ECEF;
        padding: 25px;
        text-align: center;
    }
    
    .listaConhecimentos {
        list-style-type: none;
        margin-top: 5px;
        background-color: #E9ECEF;
        padding: 25px;
    }
    
    .certificacao {
        list-style-type: none;
        margin-top: 5px;
        background-color: #E9ECEF;
        padding: 25px;
        text-align: justify;
    }
    
    #btnEnviar {
        background-color: darkgreen;
        color: white;
        width: 200px;
        height: 40px;
        text-align: justify;
    }